h1 {
	color: blue;
}
body {
	background-color: black;
	font-family: "courier";
	color: white;
}
img {
	height: 100%;
	width: 100%;
}
div {
	transition: 1s;
}
div:hover {
	font-size: 120%;
}
#one {
	margin-top: -7%;
	padding-left: 10px;
	background-color: darkblue;
}
#one:hover {
	font-size: 100%;
	background-color: black;
}
#two {
	background-color: darkblue;
	padding: 10px;
}
#three {
	background-color: orange;
	padding: 10px;
}
#four {
	background-color: green;
	padding: 10px;
}
a {
	color: silver;
}
